body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #f8f8f8;

}

ul {
    list-style-type: none;
}

.logo-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 15px;
    flex-grow: 1;
    margin-left: 17%;

}

.logo-container img,
.itm-logo img {
    height: 80px;
    /* margin-left: 100%; */
}

.header-content {
    text-align: center;
    margin-left: 10%;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0%;
    /* flex-direction: row; */
}

.header-content nav ul {
    display: flex;
    flex-direction: row;
    /* Evita que los ítems del menú se apilen */
    list-style: none;
    padding: 0;
    margin: 0;
}

.hamburguer {
    align-items: baseline;
    display: grid;
}


.header-content h1,
.header-content h2 {
    margin: 5px 0;
    text-align: center;
}

.titulo {
    width: 100%;
}


nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    transition: all 0.15s ease;
}

nav a:hover {
    background-color: #33d7da;
    border-radius: 5px;
}

.language-switcher img {
    height: 30px;
    margin: 0 5px;
    padding-right: 10px;
}

main {
    width: 90%;
    height: 100%;
    margin: 20px 0;
}

.titulo {
    font-weight: bold;
    color: #ff1493;
    text-align: justify;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.carousel {
    flex: 2;
    overflow: hidden;
    position: relative;
    max-width: 60%;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 100%;
    border-radius: 12px;
}

.news {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
 
.news article {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.about-section {
    flex: 1;
    padding: 20px;
    margin: 0 10px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
}

.social-icons img {
    height: 30px;
    margin: 0 10px;
}

.copyright {
    margin: 0 10px;
    font-size: 0.9em;
    color: #666;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.equipo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.miembro {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.miembro img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.miembro h3 {
    margin: 10px 0 5px;
    font-size: 18px;
}

.miembro p {
    color: #666;
    font-size: 14px;
}

.about {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
    margin-left: 50px;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #222;
}

.about-section {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.about-section h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.about-section p,
.about-section ul {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

.about-section ul {
    list-style-type: none;
    padding: 0;
}

.about-section ul li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
}

/* Estilos específicos de estilo_actividades.css */
#left_content {
    width: 30%;
    float: left;
}

#right_content {
    width: 60%;
    display: inline-block;
    clear: both;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.foto {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Estilos específicos de estilo_contacto.css */
.contacto,
.social {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.contacto img,
.social img {
    width: 50px;
    height: auto;
}

.evento {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#menuicono {
    display: none;
    width: 95%;
    height: 38px;
}

.title {
    display: grid;
}

@media (max-width: 668px) {

    .header-content {
        text-align: center;
        width: auto;
        position: absolute;
        flex-direction: column;
        top: 60px;
        display: none;
        min-width: 150px;
        /* height: 100%; */
        left: 0;
        background-color: #f8f8f8;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        border-radius: 10px;
        /* Bordes redondeados para mejor apariencia */
        padding: 10px;
        border-bottom: 1px transparent;
    }

    .header-content li {
        display: block;
        margin-right: 0px;
        text-align: center;

    }

    .title h1 {
        display: none;
    }

    .title h2 {
        display: none;
    }

    .logo-container .language-switcher img {
        height: 2.5rem;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        text-align: center;
        background-color: #f8f8f8;
    }

    nav a {
        text-decoration: none;
        color: #333;
        display: block; /* Hace que los enlaces ocupen todo el ancho del li */
        padding: 10px;
        transition: background 0.3s;
    }

    nav a:hover {
        background-color: #ddd;
        border-radius: 5px;
    }

    .header-content nav ul {
        display: flex;
        flex-direction: column; /* Asegura que los elementos estén en columna */
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .header-content nav ul li {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ddd
    }

    .header-content nav ul li:last-child {
        border-bottom: none; /* Evita borde extra en el último */
    }

    .logo-container img,
    .itm-logo img {
        height: 5rem;
        margin-left: 10%;
    }

    body {
        font-size: 14px;
    }

    .top-section,
    .bottom-section {
        flex-direction: column;
        align-items: center;
    }

    .carousel {
        max-width: 100%;
    }

    .galeria {
        grid-template-columns: 1fr;
    }

    .about {
        margin-left: 5%;
    }

    #menuicono {
        display: block;
        margin-right: 500rem;
    }


}