body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #f8f8f8;
    /* border-bottom: 1px solid #ddd; */
}
ul {
    list-style-type: none;
}
.logo-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 15px;
    flex-grow: 1;
    margin-left: 16%;
    margin-right: 10%;
    /* justify-content: space-between; */
}
.logo-container img, .itm-logo img {
    height: 80px;
}
.invisible{
    display: none; 
}

.header-content {
    text-align: center;
    margin-left: 10%;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0%;
}
.header-content nav ul {
    display: flex;
    flex-direction: row;
    /* Evita que los ítems del menú se apilen */
    list-style: none;
    padding: 0;
    margin: 0;
}

.hamburguer {
    align-items: baseline;
    display: grid;
}

.header-content h1, .header-content h2 {
    margin: 5px 0;
    text-align: center;
    
}

.titulo {
    width: 100%;
    text-align: justify;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    transition: all 0.15s ease; 
}

nav a:hover {
    color: #ff1493;
    border-radius: 5px;
}

.language-switcher img {
    height: 30px;
    margin: 0 5px;
    padding-right: 10px;
}   

main {
    width: 90%;
    height: 100%;
    margin: 20px 0;
}

.titulo{
    font-weight: bold;
    color: #ff1493; 
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.slide {
    position: relative;
    border-radius: 10px;
    border: 1px solid #ddd; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%; /* Ancho del 50% del contenedor padre */
    height: 56.5vh; /* Alto del 50% del viewport */
    overflow: hidden; /* Evita que el contenido se desborde */
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%; /* Ocupa todo el ancho del contenedor .slide */
    height: 100%; /* Ocupa todo el alto del contenedor .slide */
    display: flex; /* Usa flexbox para centrar las imágenes */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}

.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}

.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.slide-item img {
    display: block;
    height: 100%; /* Ajusta el alto de la imagen al 100% del contenedor */
    width: auto; /* Ajusta el ancho automáticamente para mantener la proporción */
    max-width: 100%; /* Evita que la imagen se desborde horizontalmente */
    object-fit: contain; /* Ajusta la imagen para que quepa dentro del contenedor sin recortarse */
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}

#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}

.news {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.news article {
    background: #fff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd; 
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.about-section {
    flex: 1;
    padding: 20px;
    margin: 0 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
}

.social-icons img {
    height: 30px;
    margin: 0 10px;
}

.copyright {
    margin: 0 10px;
    font-size: 0.9em;
    color: #666;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.equipo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.miembro {
    background: white;
    border: 1px solid #ddd; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.miembro img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.miembro h3 {
    margin: 10px 0 5px;
    font-size: 18px;
}

.miembro p {
    color: #666;
    font-size: 14px;
}

.about {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
    /* margin-left: 50px; */
    align-items: center;
    /* margin-left: 20%; */
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #222;
    
}

.about-section {
    background: #fff;
    border: 1px solid #ddd; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    /* width: 80%;
    margin-left: 8%;  */
    
}
.about-section-about {
    background: #fff;
    border: 1px solid #ddd; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    width: 80%;
    margin-left: 8%; 
    
}

.about-section h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.about-section p, .about-section ul {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

.about-section ul {
    list-style-type: none;
    padding: 0;
}

.about-section ul li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
}

.evento {
    max-width: 1000px;
    margin: 0 auto 20px;
    padding: 20px; 
    border: 1px solid #ddd; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos específicos de estilo_actividades.css */
#left_content {
    width: 30%;
    float: left;
}

#right_content {
    width: 60%;
    display: inline-block;
    clear: both;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px;
    max-width: 1200px; 
    margin: 0 auto; 
}

.foto {
    background: white;
    border: 1px solid #ddd; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.foto img {
    max-width: 100%;
    height: auto; 
    border-radius: 10px; 
}

/* Estilos específicos de estilo_contacto.css */
.contacto, .social {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.contacto img, .social img {
    width: 50px;
    height: auto;
}
#menuicono {
    display: none;
    width: 95%;
    height: 38px;
}

#redes, #comunicacion, #correo {
    margin: 0 auto 20px;
    max-width: 1000px;
    padding: 20px; 
    border: 1px 
    solid #ddd; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
@media (max-width: 668px) {
    .invisible{
        display: block;
        text-align: center;
        background-color: #f8f8f8;
        width: 100%;
    }
    .slide{
        height: 33vh;
    }

    .header-content {
        text-align: center;
        width: auto;
        position: absolute;
        flex-direction: column;
        top: 60px;
        display: none;
        min-width: 150px;
        /* height: 100%; */
        left: 0;
        background-color: #f8f8f8;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        border-radius: 10px;
        /* Bordes redondeados para mejor apariencia */
        padding: 10px;
        border-bottom: 1px transparent;
    }

    .header-content li {
        display: block;
        margin-right: 0px;
        text-align: center;

    }

    .title h1 {
        display: none;
    }

    .title h2 {
        display: none;
    }

    .logo-container .language-switcher img {
        height: 2.5rem;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        text-align: center;
        background-color: #f8f8f8;
    }

    nav a {
        text-decoration: none;
        color: #333;
        display: block; /* Hace que los enlaces ocupen todo el ancho del li */
        padding: 10px;
        transition: background 0.3s;
    }

    nav a:hover {
        background-color: #ddd;
        border-radius: 5px;
    }

    .header-content nav ul {
        display: flex;
        flex-direction: column; /* Asegura que los elementos estén en columna */
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .header-content nav ul li {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ddd
    }

    .header-content nav ul li:last-child {
        border-bottom: none; /* Evita borde extra en el último */
    }

    .logo-container img,
    .itm-logo img {
        height: 5rem;
        margin-left: 10%;
    }

    body {
        font-size: 14px;
    }

    /* .top-section,
    .bottom-section {
        flex-direction: column;
        align-items: center;
    } */

    .carousel {
        max-width: 100%;
    }

    .galeria {
        grid-template-columns: 1fr;
    }

    .about {
        margin-left: 5%;
    }

    #menuicono {
        display: block;
        margin-right: 500rem;
    }


}